ul {
  margin-top: 6rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input {
  border-radius: 0.8rem;
  border-color: black;
  text-align: center;
}

input:focus {
  outline: none;
}
